{% extends "blog/base.html" %}

{% block content %}
<style>
    h3, h4, a,p{
        color: mediumslateblue;
        text-align: center;
        border-radius: 10px;
    }
    div.outer{
        margin: -1% 30%;
        padding: 30px;
        border-radius: 40px;
        background-color: rgba(0,200,200,.5);
    }
    input, a{
        border-radius: 10px;
    }
</style>
    <div class="outer">
        {% if form.errors %}
            <p style="color:red;">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div align="center">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <h2 style="color:mediumslateblue;">User Login</h2><hr>
                <h4>{{ form.username.label_tag }}</h4>
                <h4>{{ form.username }}<h4>
                <h4>{{ form.password.label_tag }}</h4>
                <h4>{{ form.password }}<h4>
                <input type="submit" value="Login" />
                <!--<input type="hidden" name="next" value="{{ next }}" />-->
            </form>
            <hr>OR
            <a class="btn btn-default" href="{% url 'register' %}" 
                style="border-radius:10px; color:mediumslateblue;">Sign Up!</a>
        </div>
    </div>
{% endblock %}