{% extends 'blog/base.html' %}

{% block content %}
    
    <form action="{% url 'post_sort' %}" method="POST" style="float:left;">
        {% csrf_token %}
        <select name="sort" style="border-radius: 20px; padding: 8px; font-size: 16;">
            <option value="default">Sort by</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="new">Date: Newest</option>
            <option value="old">Date: Oldest</option>
        </select>
        <input type="submit" value="Go" style="border-radius:20px; margin:0 10px;padding:8px;color:mediumslateblue;">
    </form>
<!-- SEARCH BAR-->
	<form action="{% url 'post_filter' %}" method="POST">
        {% csrf_token %}
        <input class="button" type="submit"  value="Search" 
            style="border-radius:20px; margin:0 10px;padding:8px;color:mediumslateblue;float:right;">
        <input type="text" id="myInput" name="filter" placeholder="Search posts..." size="20" 
            style="border-radius: 20px; padding: 8px; font-size: 16;float:right;">
    </form>
    <br><br>
    
    {% for post in posts %}
        <div class="post" id="{{post.pk}}">
            <p class="date">published: {{ post.published_date }}</p>
            <p class="date">posted by {{post.author}}</p>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|truncatechars:200 }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
    {% endfor %}
    
{% endblock %}

